<app-topbar></app-topbar>

<div class="board" *ngIf="data$ | async as data">
  <div class="board-header-container">
    <app-inline-form class="edit-board-form" [defaultText]="data.board.title" [title]="data.board.title"
      (handleSubmit)="updateBoardName($event, data.board)"></app-inline-form>
    <div class="delete-board" (click)="deleteBoard()">{{ 'BOARD.DELETE' | translate }}</div>
  </div>
  <div class="columns">
    <div class="column" *ngFor="let column of data.columns">
      <div class="column-title">
        <app-inline-form class="edit-column-form" [defaultText]="column.title" [title]="column.title"
          (handleSubmit)="updateColumnName($event, column._id)"></app-inline-form>
        <div class="column-delete-icon" (click)="deleteColumn(column._id)">&#215;</div>
      </div>
      <div *ngFor="let task of getTaskByColumn(column._id, data.tasks)" class="task" (click)="openTask(task._id)">
        {{task.title}}
      </div>

      <app-inline-form class="create-task-form" defaultText="{{ 'BOARD.ADD_CARD' | translate }}" [hasButton]="true"
        buttonText="{{ 'BOARD.ADD_CARD_BTN' | translate }}"
        inputPlaceHolder="{{ 'BOARD.ENTER_TITLE_CARD' | translate }}"
        (handleSubmit)="createTask($event, column._id, data.board)"></app-inline-form>
    </div>
    <app-inline-form class="create-column-form" defaultText="{{ 'BOARD.ADD_LIST' | translate }}" [hasButton]="true"
      buttonText="{{ 'BOARD.ADD_LIST_BTN' | translate }}" inputPlaceHolder="{{ 'BOARD.ADD_COLUMN_NAME' | translate }}"
      (handleSubmit)="createColumn($event)"></app-inline-form>
  </div>
</div>
<router-outlet></router-outlet>