.home-hero {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.home-container {
  max-width: 1140px;
  color: #000;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 100vh;
}

.home-container > div {
  width: 50%;
  margin: 40px;
}

@media screen and (max-width: 640px) {
  .home-container > div {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .home-container > div {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .home-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 320px) {
  .home-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

.home-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 8px;
}

.home-description {
  font-size: 25px;
  font-weight: 300;
}

.home-header {
  position: fixed;
  height: 72px;
  z-index: 1;
  width: 100%;
  background-color: #75530a;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-header-home-link img {
  height: 40px;
}

.home-header-login {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  margin-right: 20px;
}

.home-header-register {
  color: #75530a;
  background: #fff;
  border-radius: 10% / 50%;
  font-weight: 700;
  font-size: 17px;
  padding: 6px 10px;
  text-decoration: none;
  line-height: 26px;
}

.home-language-btn {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  margin-right: 5px;
  margin-left: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  line-height: 26px;
}

.home-language-btn:hover {
  color: #5067c5;
  background: #fff;
}

.team-container {
  color: #2c3e50;
}

.information-container {
  color: #2c3e50;
}

.workflow-container {
  color: #2c3e50;
}

.team-image {
  width: 100%;
}

.workflow-image {
  max-width: 450px;
}

.workflow-left-part {
  margin-right: 40px;
}
