<header class="home-header">
  <a [routerLink]="'/'" class="home-header-home-link">
    <img src="/assets/pms-logo.svg" alt="">
  </a>
  <div>
    <a [routerLink]="'/login'" class="home-header-login">{{ 'HOME.LOGIN' | translate }}</a>
    <a [routerLink]="'/register'" class="home-header-register">{{ 'HOME.REGISTER' | translate }}</a>
    <button class="home-language-btn" *ngFor="let lang of stateOptions" (click)="onLanguageChange(lang)">{{ lang.label
      }}</button>
  </div>
</header>
<div class="home-hero">
  <div class="home-container">
    <div>
      <img src="https://png.pngtree.com/element_our/20190531/ourlarge/pngtree-blackboard-corporate-internal-training-image_1274290.jpg" class="team-image" alt="">
    </div>
    <div>
      <h1 class="home-title">
        {{ 'HOME.TITLE' | translate}}
      </h1>
      <p class="home-description">
        {{ 'HOME.PARAGRAPH' | translate}}
      </p>
    </div>
  </div>
</div>
